pyTelegramBotAPI
flask
python-telegram-bot
pyfiglet
cfonts
requests
aiohttp
beautifulsoup4
lxml
Pillow
numpy
pandas
SQLAlchemy
python-dotenv
httpx
colorama
rich
tqdm
schedule
psutil
openai
flask-cors
gunicorn
uvicorn
fastapi
starlette
pydantic
typing-extensions
cryptography
pyjwt
bcrypt
passlib
marshmallow
tenacity
loguru
watchdog
click
jinja2
markdown
selenium
webdriver-manager
opencv-python
telethon
pyrogram
aiogram
websockets
requests-oauthlib
oauthlib
fake-useragent
lxml
joblib
rich-click
typer
httpcore
anyio
sniffio
certifi
charset-normalizer
idna
urllib3
pyparsing
packaging
six
attrs
pluggy
iniconfig
tomli
wheel
setuptools
distlib
virtualenv
pip-tools
blacken-docs
pre-commit
bandit
safety
pylint
rope
autopep8
isort
mccabe
astroid
wrapt
dill
frozenlist
multidict
yarl
aiodns
python-multipart
itsdangerous
blinker
werkzeug
flask-login
flask-sqlalchemy
flask-migrate
flask-wtf
email-validator
pytest-asyncio
httpx[http2]
